:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

header {
  background:#D3D3D3;
  display: flex;
  justify-content: left;
  align-items: left;
  height: 80px;
  color: #141414;
  font-size: 2rem;
}

header > a {
  margin-left: 30px;
  margin-top: 15px;
}

header > img {
  width: 85px;
  margin-right: 10px;
  margin-left: 10px;
}

h1 {
  color: #141414;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-image: url('./images/banner.png');
}

.main-content {
  display: flex;
}

.blog-entry {
  border: solid thin #D3D3D3;
  border-radius: 5px;
  height: 600px;
  width: 500px;
  margin: 30px 30px 20px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
} 

.blog-entry > div {
  margin: 6px;
}

.blog-image {
  height: 300px;
  width: 320px;
  object-fit: cover;
}

.blog-title {
  color: #141414;
  font-weight: bold;
}

.blog-date {
  color: #3b3b3b;
}

.blog-sample {
  color: #3b3b3b;
}

footer {
  display: flex;
  background:#D3D3D3;
  color: #141414;
  height: 80px;
  font-size: 2rem;
}

footer > a {
  margin-left: 30px;
  margin-top: 10px;
}